<div id="Projects">
    <div class="container-fluid">

            <div class="row">
                <div class="col-md-4 pl-0 pr-0">
                    <img class="small" src='assets/img/Projects/PostIt.png'  (click)="zoom_in('assets/img/Projects/PostIt.png')">
                    <br>
                    <a href="https://github.com/InfinitySoul/ProjectPostIt">Project post it</a>
                </div>
                <div class="col-md-4 pl-0 pr-0">
                    <img class="small" src='assets/img/portfolio/thumbnails/2.jpg'>
                </div>
                <div class="col-md-4 pl-0 pr-0">
                    <img class="small" src='assets/img/portfolio/thumbnails/3.jpg'>
                </div>
        </div>

    </div>
    
    <div id="zoom">
        <div id="zoom_picture" (click)="return()"></div>
        
    </div>
</div>